* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none; /* Target Chrome/Safari */
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none; /* Target Microsoft */
    -webkit-user-select: none;
    -moz-user-select: none; /* Target Mozilla Firefox */
    -ms-user-select: none;
    user-select: none;  /* Official method */
	
    font-size: 1.1em;
}

/*
#divShowComicsTable table {
    background-color: whitesmoke;
    width: 100%;
    margin: auto;
    word-wrap: break-word;
    text-shadow: none;
}

#divShowComicsTable table th {
    background-color: rebeccapurple;
    color: white;
}

#divShowComicsTable table tr:nth-of-type(odd) {
    background-color: rgb(0, 50, 200);
    color: white;
}

#divShowComicsTable table tr:nth-of-type(even) {
    background-color: rgb(0, 50, 100);
    background-color: rgba(0, 50, 200, 0.5);
    color: white;
}
*/

.comicImg {
    width: 100%;
}

/*
.ui-dialog-contain > .ui-content {
    background-color: rebeccapurple;
}
*/

/* 
    Name:       Victor Campos <vcampos@sdccd.edu>
    Date:       2017-08-20
    Project:    CBDb
    Version:    1.0
    Description:A comic book storing app. Save Title, Number, Year, Barcode, Photo and more. 
*/